<h1><%= @list.id ? "Edit List Title" : "New List" %></h1>
<%= form_with(model: [@board, @list], local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label :list_title %>
    <%= f.text_field :list_title, placeholder: "list Name", autofocus: true, require: true %>
  </div>

  <div class="field">
    <%= f.label "Priority (1 is high, 10 is low)" %>
    <%= f.select :l_o_number, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], require: true %>
  </div>

  <%= f.submit class: "ui green button small" %>
<% end %>
<hr/>

<%= link_to 'Return to lists', lists_path, class: "ui red button small" %>
